<nav>
  <div class="nav-logo" routerLink="/">
    <i class="ti ti-leaf" aria-hidden="true"></i>
    EcoTips
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
    <li><a routerLink="/tips" routerLinkActive="active">Tips DIY</a></li>
    <li><a routerLink="/reciclaje" routerLinkActive="active">Reciclaje</a></li>
    <li><a routerLink="/noticias" routerLinkActive="active">Noticias</a></li>
    <li><a routerLink="/asistente" routerLinkActive="active">Asistente IA</a></li>
  </ul>
  <button class="nav-cta"><a routerLink="/registro" routerLinkActive="active"></a>Únete gratis</button>
</nav>
